/*!
Theme Name: Think About Me Ever v2.0
Theme URI: http://wordpress.org/
Description: This is a theme for TAME.
Author: Ryan Quang
Author URI: http://ryanquang.com/
Version: 1.0

License:
License URI:

General comments (optional).
*/

// Fonts 
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700');

@font-face {
    font-family: 'sofia_pro_light_condensedRg';
    src: url('fonts/sofia-pro-condensed/SofiaProLiCond-webfont.eot');
    src: url('fonts/sofia-pro-condensed/SofiaProLiCond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sofia-pro-condensed/SofiaProLiCond-webfont.woff') format('woff'),
         url('fonts/sofia-pro-condensed/SofiaProLiCond-webfont.ttf') format('truetype'),
         url('fonts/sofia-pro-condensed/SofiaProLiCond-webfont.svg#sofia_pro_light_condensedRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ahamonomonospaced';
    src: url('fonts/ahamono/ahamono-monospaced-webfont.woff2') format('woff2'),
         url('fonts/ahamono/ahamono-monospaced-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Components
@import "components/variables";
@import "components/normalize";
@import "components/reboot";
@import "components/typography";
@import "components/media";
@import "components/animation";
@import "components/loading";
@import "components/breakpoints";
@import "components/grid";
@import "components/flex";
@import "components/buttons";
@import "components/visibility";
@import "components/random-colors";
@import "components/cycle-colors";

// Vendor

// Partials
@import "partials/base";
@import "partials/navigation";
@import "partials/sly";
@import "partials/woocommerce";
// @import "partials/pages";
// @import "partials/woocommerce/base";


