html[lang="en-us"] {
    margin-top: 0 !important;
}

html {
    font-size: 12px;
    @include media-breakpoint-up(sm) {
        font-size: 12px;
    }
    @include media-breakpoint-up(md) {
        font-size: 12px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 13px;
    }
    @include media-breakpoint-up(xl) {
        font-size: 14px;
    }
    &.lt-ie9 {
        body:before {
            background: $baby-pink;
            padding: 15px;
            content: "Please install a different browser for everyones sake...";
            font-size: 32px;
            color: $white;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;
            z-index: 100;
        }
    }
}

body {
    background: $light-gray;
    overflow-x: hidden;
    &.sly {
        overflow: hidden;
    }
    &.mobile {
        transition: height 99999s, width 99999s;
        #border,
        #controls {
            display: none !important;
        }
        #page {
            padding: 0 !important;
        }
    }
    &.admin-bar {
        margin-top: 46px;
        #wpadminbar {
            position: fixed !important;
        }
        nav {
            top: 46px !important;
        }
        @include media-breakpoint-up(sm) {
            margin-top: 0;
            nav {
                top: 0 !important;
                margin-top: 46px;
            }
        }
        @include media-breakpoint-up(md) {
            nav {
                margin-top: 14px;
            }
        }
    }
}

#border {
    border: 0 solid $white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    @extend .hidden-xs-down;
    &.is--ready {
        transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    }
    &.is--visited {
        @include media-breakpoint-up(sm) {
            border-width: $border-size-sm;
        }
        @include media-breakpoint-up(md) {
            border-width: $border-size-md;
        }
    }
}

#page {
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    @include media-breakpoint-up(sm) {
        padding: $border-size-sm;
    }
    @include media-breakpoint-up(md) {
        padding: $border-size-md;
    }
    &.is--ready {
        opacity: 1;
    }
    &.site {
        position: relative;
        width: 100vw;
        height: 100vh; // display: flex;
        // flex-flow: row wrap;
        // align-content: flex-start;
        .site-content {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}

.preloader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include cycleHue(5s, infinite);
    svg {
        width: auto;
        height: 50vh;
        path {
            fill-opacity: 0;
            stroke: $red;
            stroke-width: 3;
            stroke-dasharray: 22495.8671875 22495.8671875;
            stroke-dashoffset: 22495.8671875;
            stroke-linecap: round;
            stroke-linejoin: round;
            animation: draw 5s infinite alternate-reverse;
        }
    }
    @keyframes draw {
        from {
            stroke-dashoffset: 11247.9335938;
        }
        to {
            stroke-dashoffset: 22495.8671875;
        }
    }
}

.logo {
    display: block;
    width: max-content;
    margin: 0 auto;
    transition: 0.25s all ease-in-out;
    @include cycleHue(5s, infinite);
    &.top {
        img {
            width: 30vw;
            @include media-breakpoint-up(xl) {
                width: 25vw;
            }
        }
    }
    &.flow {
        margin-bottom: 2em;
        @media screen and (orientation: portrait) {
            margin-top: 3em;
            @include media-breakpoint-up(sm) {
                margin-top: 4em;
            }
        }
        @media screen and (orientation: landscape) {
            margin-top: 1em;
            @include media-breakpoint-up(sm) {
                margin-top: 2em;
            }
        }
    }
    img {
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.75));
    }
    &:hover {
        opacity: 0.5;
    }
}

.pink-bg,
.flamez {
    width: inherit;
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;
    cursor: none;
    pointer-events: none;
    z-index: -1;
}

.pink-bg {
    background-color: $baby-pink;
}

.flamez {
    background-image: url('images/flamez.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-up(md) {
        background-size: 100% 95%;
    }
    background-attachment: fixed;
    background-position: center bottom;
    opacity: 0.85; // z-index: 1;
    @include cycleHue(10s,
    infinite);
}

img {
    &.lazyload {
        opacity: 0;
    }
    &.lazyloading {
        opacity: 1;
        transition: 300ms opacity;
        min-height: 60px;
    }
}

.fill {
    min-height: 100%;
    height: 100%;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page {
    &:not(.single-feelings) {
        .single-container {}
    }
}

article {
    &.single {
        z-index: 1;
    }
    &.contact {
        padding: 2em;
        .content {
            text-align: center;
        }
        .typewriter-container {
            z-index: -1;
            text-align: justify;
            font-size: 2.5rem;
            padding: 0.5em;
            color: $white;
            opacity: 0.6;
            @include media-breakpoint-up(lg) {
                font-size: 3rem;
            }
            @include media-breakpoint-up(xl) {
                font-size: 3.5rem;
            }
        }
    }
    &.typewriter {
        .typewriter-container {
            width: 100%;
            height: 100%;
            pointer-events: none;
            overflow: hidden;
            position: absolute;
            font-family: $abril;
            top: 0;
            left: 0;
        }
    }
    &.feelings {
        width: inherit;
        height: inherit;
        .image {
            margin: 0 auto;
            width: max-content;
            height: inherit;
            position: relative;
            img {
                height: 100%;
                width: auto;
            }
        }
        .typewriter-container {
            z-index: 1;
            padding: 0.25em;
            font-size: 7em;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}

form {
    position: relative;
    margin: 0 auto;
    input:not([type="radio"]):not([type="checkbox"]),
    textarea {
        width: 100%;
        background: transparent;
        outline: none;
        color: $black;
        border: 1px solid transparent;
        padding: 0.5em;
        background: rgba(255, 255, 255, 0.25);
        transition: all 0.3s ease-in-out;
        &:active,
        &:focus {
            @extend .cycle-bg;
            color: $white;
        }
    } // img {
    //     width: 100%;
    //     height: auto;
    // }
    h3 {
        margin: 1em 0;
    }
    label {
        margin: 0;
        font-weight: bold;
    }
    input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }
    input:not([type="radio"]):not([type="checkbox"]) {
        height: 50px;
    }
    textarea {
        height: 110px;
        max-height: 110px;
        resize: none;
    }
    .wpcf7-not-valid {
        border-color: $red;
    }
    .wpcf7-not-valid-tip {
        display: none;
    }
}

.typewriter-container {
    .typewriter-cursor {
        display: none !important;
    }
}

.wpcf7 {
    margin: 1em auto !important;
    @include media-breakpoint-up(lg) {
        width: 30vw;
    }
    @include media-breakpoint-up(xl) {
        width: 25vw;
    }
    form {
        input,
        textarea {
            margin-bottom: 1em;
        }
        input[type="submit"] {
            @include primary-btn();
        }
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column nowrap;
    text-align: center;
}

::-webkit-scrollbar {
    width: 1.5em;
}

::-webkit-scrollbar-track {
    background-color: rgba($black, .1);
    box-shadow: inset 0 1px 1px rgba($black, .2);
}

::-webkit-scrollbar-thumb {
    // background-color: tomato;
    background-color: getRandomColor("rgb");
    box-shadow: 0 1px 1px rgba($black, .1);
}

::-webkit-scrollbar-thumb:hover {
    // background-color: darken(tomato,10%);
    background-color: getRandomColor("rgb");
}