.fixed {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
    &.top,
    &.bottom {
        width: 100%;
        height: $border-size-xs;
        @include media-breakpoint-up(sm) {
            height: $border-size-sm;
        }
        @include media-breakpoint-up(md) {
            height: $border-size-md;
        }
    }
    &.left,
    &.right {
        height: 100%;
        width: $border-size-xs;
        @include media-breakpoint-up(sm) {
            width: $border-size-sm;
        }
        @include media-breakpoint-up(md) {
            width: $border-size-md;
        }
    }
}

#collab {
    .btn-collab {
        position: relative;
        width: max-content;
        transform: rotate(90deg);
        white-space: nowrap;
        z-index: 3;
        &:hover {
            animation: spin 2s infinite;
        }
    }
}

#social {
    .social-wrapper {
        transform: rotate(-90deg);
        @extend .list-unstyled;
        width: max-content;
        li {
            display: inline-block;
            padding: 0 0.6em;
            .social-link {
                width: 1.5em;
                height: 1.5em;
                display: block;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                text-indent: 99999999px;
                transition: 0.25s all ease-in-out;
                &.facebook {
                    background-image: url('images/facebook_logo.svg'); // filter: hue-rotate(221deg);
                }
                &.twitter {
                    background-image: url('images/twitter_logo.svg'); // filter: hue-rotate(203deg);
                }
                &.googleplus {
                    background-image: url('images/google_logo.svg'); // filter: hue-rotate(5deg);
                }
                &.pinterest {
                    background-image: url('images/pinterest_logo.svg'); // filter: hue-rotate(353deg);
                }
                &.tumblr {
                    background-image: url('images/tumblr_logo.svg'); // filter: hue-rotate(353deg);
                }
                &:hover {
                    opacity: 0.25;
                }
            }
        }
    }
}

nav {
    .logo {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        @media screen and (orientation: portrait) {
            top: 3em;
            @include media-breakpoint-up(sm) {
                top: calc(#{$border-size-sm} - -4em);
            }
            @include media-breakpoint-down(xs) {
                pointer-events: none;
                cursor: default;
            }
        }
        @media screen and (orientation: landscape) {
            top: 1em;
            @include media-breakpoint-up(sm) {
                top: calc(#{$border-size-sm} - -2em);
            }
            @include media-breakpoint-up(md) {
                top: calc(#{$border-size-md} - -2em);
            }
        }
    }
    .menu-main-container {
        @include media-breakpoint-down(xs) {
            position: absolute;
        }
        .menu {
            @extend .list-unstyled;
            li {
                @for $i from 1 through 6 {
                    $time: $i + 1;
                    &:nth-child(#{$i}) {
                        @include cycleHue(#{$time}s,
                        infinite);
                    }
                }
                a {
                    text-decoration: none;
                    text-transform: lowercase;
                    letter-spacing: 1px;
                    font-family: $abril;
                    font-weight: bolder;
                    transition: 0.25s all ease-in-out; // color: $red;
                    @extend .cycle-color;
                    &:hover {
                        opacity: 0.25;
                    }
                }
            }
        }
    }
    #btn-cart {
        display: none !important;
        position: fixed;
        z-index: 10;
        right: 1.25em;
        @include media-breakpoint-up(sm) {
            right: $border-size-sm;
        }
        @include media-breakpoint-up(md) {
            right: $border-size-md;
        }
        .cart-contents {
            transition: opacity 0.25s ease-in-out;
            &:hover {
                opacity: 0.5;
            }
            .label,
            .icon {
                float: left;
            }
            .label {
                margin-top: 4px;
                margin-right: 0.5em;
                display: none;
                letter-spacing: 1px;
                font-family: $abril;
                font-weight: bolder;
                @extend .cycle-color;
                @include media-breakpoint-up(lg) {
                    display: block;
                }
            }
            .icon {
                display: block;
                width: 15px;
                height: 15px;
                text-align: center;
                line-height: 16px;
                margin-top: 7px;
                position: relative;
                font-size: 0.8rem;
                text-decoration: none;
                color: $white;
                border-radius: 0 0 5px 5px;
                @extend .cycle-bg;
                &:after {
                    display: block;
                    content: " ";
                    height: 10px;
                    border: 2px solid $red;
                    position: absolute;
                    top: -6px;
                    left: 3px;
                    right: 3px;
                    border-radius: 5px;
                    z-index: -1;
                }
                @include media-breakpoint-up(md) {
                    width: 20px;
                    height: 20px;
                    line-height: 21px;
                    &:after {
                        left: 5px;
                        right: 5px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(xs) {
        .menu-main-container {
            top: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(255, 255, 255, 0);
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            transform: translateY(-100vh);
            transition: 0.25s ease-in-out all;
            .menu {
                li {
                    padding: 0.75em 0;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .btn-nav {
            position: absolute;
            top: -25px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 50px;
            height: 50px;
            z-index: 6;
            cursor: pointer;
            @include bounceFade();
            transition: 0.25s ease-in-out all;
            @media screen and (orientation: portrait) {
                display: block;
                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
            @media screen and (orientation: landscape) {
                display: block;
                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
            &:before {
                content: '';
                display: block;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background: $red;
                @include cycleHue(3s,
                infinite);
            }
            &:after {
                opacity: 0;
                visibility: hidden;
                content: 'close';
                color: $white;
                position: absolute;
                top: 5px;
                z-index: 1;
                height: inherit;
                width: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s ease-in-out all;
            }
        }
        &.is--active {
            .menu-main-container {
                transform: translateY(0);
                background: rgba(255, 255, 255, 1);
            }
            .btn-nav {
                // top: calc(100vh - 50px);
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    @include media-breakpoint-up(sm) {
        .menu-main-container {
            width: max-content;
            position: absolute;
            // left: $border-size-sm;
            // @include media-breakpoint-up(md) {
            //     left: $border-size-md;
            // }
            .menu {
                li {
                    display: inline-block;
                    &:first-child {
                        display: none;
                    }
                    &:not(:last-child) {
                        padding-right: 1.25em;                        
                    }
                    a {
                        @include media-breakpoint-up(md) {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
}

#controls {
    // @include media-breakpoint-down(xs) {
    //     .btn,
    //     span {
    //         color: $white;
    //     }
    // }
    .btn-group {
        z-index: 10;
        margin: 0 auto;
        button {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            outline: 0;
            transition: 0.25s ease-in-out all;
            cursor: pointer;
        }
        label {
            margin: 0;
        }
        .counter {
            min-width: 100px;
            display: inline-block;
            text-align: center;
        }
        .btn {
            &:hover {
                opacity: 0.5;
            }
            &.is--disabled {
                cursor: not-allowed;
                opacity: 0.2;
                text-decoration: line-through;
            }
            &.btn-toggle {
                padding: 0;
                &.is--active {
                    span {
                        font-weight: bold;
                        color: $red;
                        @include cycleHue(3s,
                        infinite);
                    }
                }
            }
        }
    }
}

#scrollbar {
    z-index: 5;
    .handle {
        position: absolute;
        cursor: pointer;
        @extend .cycle-bg;
    }
    &.bottom {
        height: 1.5em !important;
        .handle {
            left: 0;
            bottom: 0;
            height: 100%;
        }
    }
    &.right {
        width: 1.5em !important;
        .handle {
            top: 0;
            right: 0;
            width: 100%;
        }
    }
}