.sly-container {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 1;
    background: $white;
    .frame {
        width: inherit;
        @media screen and (orientation: portrait) {
            height: 100vh;
            @include media-breakpoint-up(sm) {
                height: inherit;
            }
        }
        @media screen and (orientation: landscape) {
            height: inherit;
        }
        .slidee {
            height: inherit;
            @extend .list-unstyled;
            @include flashCycleHue(6s, infinite);
            .cell {
                position: relative;
                @media screen and (orientation: landscape) {
                    float: left;
                    height: 100vh;
                    width: max-content;
                    @include media-breakpoint-up(sm) {
                        height: inherit;
                    }
                    &.is--visible {
                        @include fadeInLeft(0.5s);
                    }
                }
                @media screen and (orientation: portrait) {
                    &.is--visible {
                        @include fadeInDown(0.5s);
                    }
                }
                .details {
                    .inner-details {
                        clear: both;
                        display: inline-block;
                        text-align: left;
                        ul {
                            @extend .list-unstyled;
                            float: left;
                            &.label {
                                font-weight: bolder;
                                text-transform: uppercase;
                            }
                            &.data {
                                text-transform: capitalize;
                                a {
                                    margin-left: 1em;
                                    background: url(images/instagram_logo.svg) no-repeat 100%;
                                    background-position: left center;
                                    display: inline-block;
                                    color: transparent;
                                    transition: opacity 0.25s ease-in-out;
                                    @extend .cycle-color;
                                    &:hover {
                                        opacity: 0.25;
                                    }
                                }
                            }
                            li {
                                padding: 0.25em;
                            }
                        }
                    }
                }
            }
        }
    }
    &.is--home {
        .frame {
            .slidee {
                .cell {
                    overflow: hidden;
                    @include media-breakpoint-down(xs) {
                        transition: height 99999s, width 99999s;
                    }
                    @media screen and (orientation: portrait) {
                        width: 100vw;
                        height: 100vh;
                        &:not(:first-child) {
                            display: none !important;
                        }
                        @include media-breakpoint-up(sm) {
                            width: 100%;
                            height: 100%;
                        } // @include media-breakpoint-up(sm) {
                        //     width: calc(100vw - (#{$border-size-sm} * 2));
                        //     height: calc((100vh - (#{$border-size-sm} * 2))/1.25);
                        // }
                        // @include media-breakpoint-up(md) {
                        //     width: calc(100vw - (#{$border-size-md} * 2));
                        //     height: calc((100vh - (#{$border-size-md} * 2))/1.25);
                        // }
                    }
                    @media screen and (orientation: landscape) {
                        &:first-child,
                        &:last-child {
                            @include fadeInDown();
                        }
                        &:nth-child(2) {
                            @include fadeInUp();
                        }
                        @include media-breakpoint-up(sm) {
                            width: calc((100vw - (#{$border-size-md} * 2))/2);
                            &:last-child {
                                display: none;
                            }
                        }
                        @include media-breakpoint-up(lg) {
                            width: calc((100vw - (#{$border-size-md} * 2))/3);
                            &:last-child {
                                display: initial;
                            }
                        }
                    }
                    a {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none; // .typewriter-container {
                        //     display: none;
                        //     position: relative;
                        //     z-index: 1;
                        //     width: inherit;
                        //     height: inherit; // display: flex;
                        //     // font-size: 5em;
                        //     padding: 15px;
                        //     font-family: $abril;
                        //     .typewriter-wrapper {
                        //         max-width: 100%;
                        //         word-wrap: break-word;
                        //         flex: 1;
                        //         &.is--top {
                        //             align-self: flex-start;
                        //         }
                        //         &.is--middle {
                        //             align-self: center;
                        //         }
                        //         &.is--bottom {
                        //             align-self: flex-end;
                        //         }
                        //         &.is--left {
                        //             text-align: left;
                        //         }
                        //         &.is--center {
                        //             text-align: center;
                        //         }
                        //         &.is--right {
                        //             text-align: right;
                        //         }
                        //         &.is--small {
                        //             font-size: 6em;
                        //         }
                        //         &.is--medium {
                        //             font-size: 8em;
                        //         }
                        //         &.is--big {
                        //             font-size: 10em;
                        //         } // span {
                        //         //     @include fadeIn();
                        //         // }
                        //     }
                        // }
                        h2 {
                            display: block;
                            height: 1.5em; // FOR TYPEWRITER PURPOSES
                        }
                        div {
                            @include fadeInDown();
                            position: relative;
                            display: none;
                            padding: 2em;
                            z-index: 1;
                            text-align: center;
                            h2 {
                                color: $black;
                                margin-bottom: 1em;
                            }
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            display: block;
                            width: inherit;
                            height: inherit;
                            left: 0;
                            right: 0;
                            background: $white;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.25s ease-in-out all;
                        }
                        &:hover,
                        &.is--active {
                            div {
                                display: block;
                            }
                            &:after {
                                opacity: 0.5;
                                visibility: visible;
                            }
                            img {
                                // width: 105%;
                                // height: 105%;
                                filter: saturate(500%);
                            } // .typewriter-container {
                            //     display: flex;
                            //     @extend .cycle-color;
                            // }
                        } // @include media-breakpoint-down(xs) {
                        //     div,
                        //     &:after {
                        //         display: none !important;
                        //     }
                        // }
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: filter ease-in-out 0.2s;
                        animation: ltr 10s alternate infinite;
                    }
                }
            }
        }
    }
    &.is--single {
        .frame {
            .slidee {
                .cell {
                    &.is--info {
                        padding: 4em;
                        overflow-y: auto;
                        display: flex;
                        flex-flow: column nowrap;
                        .info-wrapper {
                            margin: auto 0;
                            .details {
                                h1 {
                                    margin-bottom: 0.5em;
                                    text-transform: lowercase;
                                }
                            }
                            .description {
                                margin-top: 2em;
                            }
                            .links {
                                position: absolute;
                                left: 0;
                                bottom: 1em;
                                width: 100%;
                                padding: 0 1em;
                                a {
                                    @include primary-btn();
                                }
                                .prev {
                                    float: left;
                                }
                                .next {
                                    float: right;
                                }
                            }
                        }
                    }
                    &.is--image {
                        img {
                            display: block;
                        }
                    }
                    &.is--last {
                        text-align: center;
                        h2 {
                            font-size: 4em;
                            word-spacing: 100vw;
                            display: inline-block;
                            @include media-breakpoint-down(sm) {
                                font-size: 2.5rem;
                            }
                        }
                    }
                    &.is--links {
                        a {
                            position: relative;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            text-decoration: none;
                            div {
                                position: relative;
                                padding: 1em;
                                z-index: 1;
                                text-align: center;
                                h3 {
                                    display: block;
                                    min-height: 1.5em; // FOR TYPEWRITER PURPOSES
                                    color: $black; // margin-bottom: 0.5em;
                                }
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                right: 0;
                                background: $white;
                                opacity: 0;
                                visibility: hidden;
                                transition: 0.25s ease-in-out all;
                            }
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                transition: 0.2s ease-in-out filter;
                            }
                            &:hover {
                                &:after {
                                    opacity: 0.5;
                                    visibility: visible;
                                }
                                img {
                                    // width: 105%;
                                    // height: 105%;
                                    filter: saturate(500%);
                                }
                            }
                        }
                    }
                    .index {
                        position: absolute; // right: 1.5em;
                        bottom: 1em;
                        color: $white;
                    }
                    @media screen and (orientation: landscape) {
                        &.is--info {
                            padding: 3em;
                            width: max-content; // max-width: 50vw;
                            // @include media-breakpoint-up(sm) {
                            //     max-width: 30vw;
                            // }
                            // @include media-breakpoint-up(lg) {
                            //     padding: 4em;
                            //     max-width: 35vw;
                            // }
                            // @include media-breakpoint-up(xl) {
                            //     max-width: 25vw;
                            // }
                        }
                        &.is--last {
                            max-width: 25vw;
                        }
                        &.is--image {
                            display: inline-block;
                            img {
                                height: inherit;
                                width: auto;
                            }
                            .index {
                                right: 2em;
                            }
                        }
                        &.is--links {
                            width: 50vw;
                            @include media-breakpoint-up(sm) {
                                width: 30vw;
                            }
                            @include media-breakpoint-up(lg) {
                                width: 35vw;
                            }
                            @include media-breakpoint-up(xl) {
                                width: 25vw;
                            }
                            a {
                                &:only-child {
                                    height: 100%;
                                }
                                &:not(:only-child) {
                                    height: 49.75%;
                                    &:first-child {
                                        margin-bottom: 1.5%;
                                    }
                                }
                            }
                        }
                        &:not(:first-child) {
                            margin-left: 0.5em;
                        }
                        .index {
                            right: 1.5em;
                        }
                    }
                    @media screen and (orientation: portrait) {
                        &.is--info {
                            padding-top: 8em;
                            @include media-breakpoint-up(sm) {
                                padding-top: 10em;
                            }
                            @include media-breakpoint-up(lg) {
                                padding-top: 12em;
                            }
                            text-align: center;
                            .details {
                                .inner-details {
                                    text-align: left;
                                }
                                .description {
                                    text-align: justify;
                                    text-align-last: center;
                                }
                            }
                        }
                        &.is--image {
                            img {
                                height: auto;
                                width: 100vw;
                                @include media-breakpoint-up(sm) {
                                    width: 100%;
                                }
                            }
                        }
                        &.is--last {
                            padding-top: 4em;
                            justify-content: center;
                            .info-wrapper {
                                margin: 0;
                            }
                        }
                        &.is--links {
                            a {
                                height: (100vh/4);
                            }
                        }
                        .index {
                            left: 0;
                            right: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    &.is--archive {
        .frame {
            .slidee {
                .cell {
                    display: flex;
                    flex-flow: column nowrap; // justify-content: center;
                    align-content: center;
                    text-align: center;
                    padding: 2em;
                    .image {
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        display: inline-block;
                        &:before {
                            display: block;
                            width: 100%;
                            padding-bottom: 100%;
                            content: "";
                        }
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            animation: ltr 5s alternate infinite;
                        }
                    }
                    .details {
                        margin-top: 2em;
                        a {
                            text-decoration: none;
                            display: block;
                            h2 {
                                display: block;
                                min-height: 1.5em; // FOR TYPEWRITER PURPOSES
                                margin-bottom: 0.5em;
                                color: $black;
                                text-transform: lowercase;
                                transition: 0.25s ease-in-out all;
                                &:hover {
                                    opacity: 0.3;
                                }
                            }
                        }
                    }
                    .btn-read {
                        width: max-content;
                        margin: 1em auto 0 auto;
                    }
                    @media screen and (orientation: portrait) {
                        width: 100%;
                        height: 80vh;
                        padding: $border-size-xs;
                        @include media-breakpoint-up(sm) {
                            height: calc(100%/1.5);
                            padding: $border-size-sm;
                        }
                    }
                    @media screen and (orientation: landscape) {
                        height: 100vh;
                        width: 50vw;
                        &:not(:last-child) {
                            margin-right: 1em;
                        }
                        @include media-breakpoint-up(sm) {
                            height: 100%;
                            width: calc((100vw - (#{$border-size-sm} * 2))/1.5);
                        }
                        @include media-breakpoint-up(md) {
                            width: calc((100vw - (#{$border-size-md} * 2))/1.75);
                        }
                        @include media-breakpoint-up(lg) {
                            width: calc((100vw - (#{$border-size-md} * 2))/2.75);
                        }
                        @include media-breakpoint-up(xl) {
                            width: calc((100vw - (#{$border-size-md} * 2))/3.5);
                        }
                        .image {
                            // display: flex;
                            // flex-grow: 1;
                            // flex-direction: column;
                            height: 60%;
                        }
                    }
                }
            }
        }
    }
}

.mobile {
    .sly-container {
        &.is--single {
            height: auto;
            .frame {
                height: auto;
            }
        }
        &.is--home {
            .cell {
                height: 100vh !important;
                @media screen and (orientation: portrait) {
                    width: 100vw !important;
                }
                @media screen and (orientation: landscape) {
                    width: calc(100vw/2) !important;
                }
            }
        }
        &.is--archive {
            .cell {
                transition: height 99999s, width 99999s;
            }
        }
    }
}