// Archive & Single Woocommerce Pages
.woocommerce {
    .site-content {
        @extend .container-fluid;
    }
    &.single-product {
        #woo-main {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
    @include media-breakpoint-down(sm) {
        &:not(.single-product) {
            .site-content {
                padding: 0 $border-size-xs;
            }
            #woo-main {
                order: 2;
            }
            #woo-sidebar {
                order: 1;
            }
        }
    }
    #woo-sidebar,
    .cart-collaterals,
    #woo-main,
    .woocommerce-cart-form {
        @include make-xs-col(12);
    }
    @media screen and (orientation: portrait) {
        .cart-collaterals {
            @include make-md-col(6);
            @include make-lg-col(5);
            @include make-xl-col(4);
        }
        #woo-sidebar {
            @include make-md-col(3.5);
            @include make-lg-col(3);
            @include make-xl-col(2.5);
        }
        #woo-main,
        .woocommerce-cart-form {
            @include make-md-col(8.5);
            @include make-lg-col(9);
            @include make-xl-col(9.5);
        }
    }
    @media screen and (orientation: landscape) {
        #woo-sidebar,
        .cart-collaterals {
            @include make-md-col(3.25);
            @include make-lg-col(3);
            @include make-xl-col(2.5);
        }
        #woo-main,
        .woocommerce-cart-form {
            @include make-md-col(8.75);
            @include make-lg-col(9);
            @include make-xl-col(9.5);
        }
    }
    #woo-main {
        @include media-breakpoint-up(md) {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
        }
        .products {
            @extend .list-unstyled;
            @extend .container-fluid;
            flex-wrap: wrap;
            padding: 1em;
            .product {
                @include make-md-col(6);
                @include make-xl-col(4);
                padding: 0 1em;
                margin-bottom: 2em;
                a {
                    position: relative;
                    display: block;
                    text-decoration: none;
                    img {
                        width: 100%;
                        height: auto;
                        transition: opacity 0.25s ease-in-out;
                    }
                    .price {
                        position: absolute;
                        left: 0.5em;
                        top: 1em;
                        padding: 0.25em 0.5em;
                        color: $white;
                        @include cycleColor("background-color", green);
                        del {
                            opacity: 0.5;
                        }
                        ins {
                            text-decoration: none;
                        }
                    }
                    h2 {
                        margin-top: 0.25em;
                        font-size: 1.4rem;
                        color: $black;
                        text-transform: lowercase;
                    }
                    .onsale {
                        position: absolute;
                        top: 1em;
                        right: 0.5em;
                        padding: 0.25em 0.5em;
                        background: $red;
                        color: $white;
                        text-transform: uppercase;
                    }
                    &:hover {
                        img {
                            opacity: 0.25;
                        }
                    }
                }
            }
        }
        >.product {
            @extend .container-fluid;
            width: 100%;
            height: inherit;
            .woocommerce-product-gallery,
            .woocommerce-product-details {
                height: inherit;
                overflow-y: auto;
            }
            .woocommerce-product-gallery {
                @include make-xs-col(12);
                @media screen and (orientation: portrait) {
                    @include make-md-col(7);
                    @include make-lg-col(7);
                }
                @media screen and (orientation: landscape) {
                    @include make-md-col(8);
                    @include make-lg-col(8);
                    @include make-xl-col(9);
                }
                figure {
                    position: relative;
                    margin: 0;
                    &.woocommerce-product-gallery__wrapper {
                        margin: 0;
                        @include media-breakpoint-down(sm) {
                            display: flex;
                            align-items: center;
                            width: max-content;
                            div {
                                float: left;
                                img {
                                    height: 100%;
                                    width: auto;
                                    min-width: 100%;
                                }
                            }
                        }
                        a {
                            pointer-events: none !important;
                        }
                    }
                    &.woocommerce-product-gallery-quickview__wrapper {
                        position: fixed;
                        @include media-breakpoint-down(sm) {
                            text-align: center;
                            margin-top: -5em;
                            left: 0;
                            div {
                                display: inline-block;
                                width: 8%;
                                &:not(:last-child) {
                                    margin-right: 1.5em;
                                }
                            }
                        }
                        // @include media-breakpoint-up(sm) {
                        //     width: 5%;
                        //     top: calc(#{$border-size-sm} + 1em);
                        //     left: calc(#{$border-size-sm} + 1em);
                        //     div {
                        //         margin-bottom: 1em;
                        //     }
                        // }
                        @include media-breakpoint-up(md) {
                            width: 5%;
                            top: calc(#{$border-size-md} + 2em);
                            left: calc(#{$border-size-md} + 2em);
                            div {
                                margin-bottom: 1em;
                            }
                        }
                        div {
                            opacity: 0.5;
                            transition: all ease-in-out 0.25s;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .woocommerce-product-details {
                @include make-xs-col(12);
                @media screen and (orientation: portrait) {
                    @include make-md-col(5);
                    @include make-lg-col(5);
                }
                @media screen and (orientation: landscape) {
                    @include make-md-col(4);
                    @include make-lg-col(4);
                    @include make-xl-col(3);
                } 
                background: $red;
                // background-color: getRandomColor("rgb");
                display: flex;
                flex-direction: column;
                .summary {
                    padding: 2em;
                    @include media-breakpoint-down(sm) {
                        padding: $border-size-xs !important;
                    }
                    h1 {
                        text-transform: lowercase;
                        text-align: center;
                    }
                    .price {
                        text-align: center;
                        color: $white;
                        font-size: 1.5rem;
                        margin: 1em 0;
                    }
                    .reset_variations,
                    .quantity,
                    .label,
                    .woocommerce-variation-price,
                    label {
                        display: none !important;
                        margin: 0 !important;
                    }
                    form {
                        table {
                            margin: 0 auto;
                            width: 100%;
                        }
                        select {
                            border: 1px solid $black;
                            font-weight: bolder;
                            font-size: 1.5rem;
                            width: 100%;
                            text-transform: uppercase;
                            text-align: center;
                            text-align-last: center;
                        }
                    }
                    .single_add_to_cart_button {
                        margin-top: 1em;
                        @include primary-btn(1.25rem, 0.75em, 1em);
                        width: 100%;
                        outline: none;
                        border: none;
                    }
                }
                .woocommerce-tabs {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    h2 {
                        display: none !important;
                        font-family: $ahamono;
                        font-weight: bold;
                        margin-bottom: 1em;
                        color: $gray;
                        text-transform: uppercase;
                        &:after {
                            content: ' /'
                        }
                    }
                    .tabs {
                        background: $light-gray;
                        @extend .list-unstyled;
                        width: 100%;
                        margin: 0;
                        li {
                            &:first-child {
                                width: 100%;
                            }
                            width: 50%;
                            float: left;
                            text-align: center;
                            position: relative;
                            a {
                                @include secondary-btn(1rem, 1em); // background-color: getRandomColor("rgb");
                                width: 100%;
                                vertical-align: initial;
                                border: none !important;
                                box-shadow: 1px 0 0 0 $black, 0 1px 0 0 $black, 1px 1px 0 0 $black, 0px 0 0 0 $black inset, 0 1px 0 0 $black inset;
                            }
                            &.active {
                                a {
                                    background: $gray;
                                    // background-color: getRandomColor("rgb");
                                    color: $white;
                                }
                            }
                        }
                    }
                    .woocommerce-Tabs-panel {
                        background: $baby-pink;
                        // background-color: getRandomColor("rgb");
                        flex-grow: 1;
                        overflow-y: auto;
                        padding: 2em;
                        @include media-breakpoint-down(sm) {
                            padding: $border-size-xs !important;
                        }
                    }
                    table {
                        width: 100%;
                        border-collapse: collapse;
                        text-align: center;
                        tr {
                            td {
                                border: 1px solid $black;
                            }
                        }
                    }
                }
            }
        }
    }
    #woo-sidebar {
        @include media-breakpoint-down(sm) {
            margin-top: 3em !important;
            margin-bottom: 2em;
        }
        @include media-breakpoint-up(md) {
            padding: 2em !important;
        }
        .logo {
            display: inline;
        }
        h4 {
            font-family: $ahamono;
            color: $gray;
            margin: 1em 0;
            text-transform: uppercase;
        }
        ul {
            @extend .list-unstyled;
            li {
                margin-bottom: 0.25em;
                a {
                    color: $black;
                    text-decoration: none;
                    text-transform: lowercase;
                    font-weight: bolder;
                    font-size: 1.5rem;
                    transition: opacity 0.25s ease-in-out;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        .woocommerce-ordering {
            select {
                border: none;
                outline: none;
                background: transparent;
                text-transform: lowercase;
                font-weight: bolder;
                font-size: 1.5rem;
                width: 100%;
            }
        }
    }
}

// Cart Woocommerce Page
.woocommerce-cart,
.woocommerce-checkout.woocommerce-page {
    tr.shipping,
    #payment {
        ul {
            margin-top: 0.5em;
            @extend .list-unstyled;
            li {
                display: inline-block;
                width: 100%;
                margin: 0.5em 0;
                input {
                    width: 15%;
                    float: left;
                    &[type="radio"] {
                        height: 16px;
                    }
                }
                .payment_box,
                label {
                    width: 85%;
                    text-align: left;
                    float: right;
                }
            }
        }
    }
}

.woocommerce-cart {
    h1 {
        display: none;
    }
    article {
        height: inherit;
        .inner-content {
            height: inherit;
            .woocommerce {
                @extend .container-fluid;
                height: inherit;
                @include media-breakpoint-down(sm) {
                    padding: $border-size-xs !important;
                }
                @include media-breakpoint-up(md) {
                    .woocommerce-cart-form,
                    .cart-collaterals {
                        padding: 2em;
                    }
                }
            }
        }
    }
    .woocommerce-cart-form {
        @media screen and (orientation: portrait) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        @media screen and (orientation: landscape) {
            @include media-breakpoint-up(md) {
                overflow-y: auto;
                overflow-x: hidden;
                height: inherit;
            }
        }
        table {
            width: 100%;
            thead {
                border-bottom: 1px solid $gray;
                th {
                    text-align: center;
                    padding-bottom: 1em;
                    text-transform: uppercase;
                    color: $gray;
                }
            }
            tbody {
                tr {
                    &:not(:last-child) {
                        border-bottom: 1px solid $gray;
                        td {
                            padding-left: 1em;
                            padding-right: 1em;
                        }
                    }
                    td {
                        padding-top: 2em;
                        padding-bottom: 2em;
                        text-align: center;
                        a {
                            transition: opacity 0.25s ease-in-out;
                            text-decoration: none;
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                        &.product-remove {
                            a {
                                color: $black;
                                font-size: 3rem;
                                font-weight: bold;
                            }
                        }
                        &.product-thumbnail {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        &.product-name {
                            a {
                                color: $black;
                                font-weight: bold;
                            }
                        }
                        .quantity {
                            display: inline-block;
                            label {
                                display: none !important;
                            }
                            input {
                                display: block;
                                text-align: center;
                                float: left;
                            }
                            input {
                                width: 4em;
                                border: 1px solid $black;
                            }
                        }
                        &.actions {
                            input[type="submit"] {
                                @include secondary-btn();
                                vertical-align: initial;
                            }
                            .coupon {
                                float: left;
                                width: 65.6%;
                                label {
                                    display: none;
                                }
                                input {
                                    width: 49%;
                                    &.input-text {
                                        float: left;
                                    }
                                    &.button {
                                        float: right;
                                    }
                                }
                            }
                            >input[type="submit"] {
                                width: 32.4%;
                                float: right;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(xs) {
                display: block;
                thead {
                    display: none;
                }
                tbody,
                th,
                td {
                    display: block;
                }
                tr {
                    display: inline-block;
                }
                td {
                    padding-top: 1em !important;
                    padding-bottom: 1em !important;
                    text-align: right !important;
                    &.product-name,
                    &.product-quantity,
                    &.product-price,
                    &.product-subtotal {
                        width: 60%;
                        float: right
                    }
                    &.product-remove {
                        a {
                            text-indent: 99999px;
                            font-size: 1rem !important;
                            &:after {
                                content: 'remove';
                                text-indent: 0;
                            }
                        }
                    }
                    &.product-thumbnail {
                        width: 40%;
                        float: left;
                    }
                    &.product-subtotal {
                        .amount {
                            &:before {
                                content: 'Total: '
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-collaterals {
        text-align: right;
        table {
            width: 100%;
            tr {
                th,
                td {
                    width: 50%;
                    padding-bottom: 0.5em;
                }
            }
        }
        .button {
            @include primary-btn(1rem, 0.75em, 1em);
            width: 100%;
            margin: 2em 0;
            text-align: center;
        }
    }
}

// Page & Checkout Woocommerce Page
.woocommerce-page {
    h1 {
        margin: 0 auto;
    }
    .woocommerce-order {
        .woocommerce-order-overview {
            @extend .list-unstyled;
            border: 1px solid $gray;
            padding: 1em;
            margin: 0;
            background: $white;
        }
        .woocommerce-order-details {
            border-left: 1px solid $gray;
            border-right: 1px solid $gray;
            background: $white;
            .woocommerce-order-details__title {
                text-align: center;
                padding: 1em;
            }
            table {
                width: 100%;
                tr {
                    th,
                    td {
                        padding: 1em;
                        border-top: 1px solid $gray;
                        border-bottom: 1px solid $gray;
                        &:last-child {
                            text-align: right;
                        }
                    }
                    th {
                        color: $black;
                        text-transform: uppercase;
                    }
                    th:not(:last-child),
                    .woocommerce-table__product-name,
                    .woocommerce-table__product-total {
                        border-right: 1px solid $gray;
                    }
                    td {
                        border-top: 1px solid $gray;
                        border-bottom: 1px solid $gray;
                    }
                }
                tfoot {
                    th {
                        text-align: right;
                    }
                }
            }
        }
        .woocommerce-customer-details {
            .woocommerce-columns {
                .woocommerce-column {
                    padding: 1em;
                    border: 1px solid $gray;
                    border-top-width: 0;
                }
            }
        }
    }
    .woocommerce-empty {
        width: 100%;
        height: inherit;
        @include media-breakpoint-down(xs) {
            min-height: 100vh;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        p {
            font-size: 1.25rem;
        }
        a {
            margin: 1em 0;
        }
    }
    &.single-product {
        .woocommerce-message,
        .woocommerce-error {
            position: absolute;
            z-index: 1;
        }
    }
    .woocommerce-message,
    .woocommerce-error {
        @include fadeInDown();
        position: relative;
        width: 100%;
        background: $light-gray;
        padding: 1em 4em;
        &:before,
        &:after {
            height: 100%;
            position: absolute;
            top: 0;
        }
        &:before {
            content: '';
            left: 0;
            width: 1em;
        }
        // &:after {
        //     width: max-content;
        //     padding: 0 1em;
        //     content: 'x';
        //     font-weight: bold;
        //     right: 0;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     cursor: pointer;
        //     transition: all ease-in-out 0.25s;
        // }
        // &:hover::after {
        //     background-color: $gray;
        // }
    }
    .woocommerce-error {
        &:before {
            background-color: $brand-danger;
        }
    }
    .woocommerce-message {
        &:before {
            background-color: $brand-success;
        }
    }
    &.woocommerce-checkout {
        article {
            @extend .container;
            flex-flow: column;
            padding: $border-size-xs;
            padding-top: 0;
            @include media-breakpoint-up(sm) {
                padding-bottom: calc(#{$border-size-sm} * 2);
            }
            @include media-breakpoint-up(md) {
                padding-bottom: calc(#{$border-size-md} * 2);
            }
        }
        .woocommerce {
            .checkout_coupon {
                display: inline-block !important;
                width: 100%;
                .form-row {
                    width: 49%;
                    float: left;
                }
                .form-row-last {
                    float: right;
                }
                input[type="submit"] {
                    @include secondary-btn();
                    vertical-align: initial;
                }
            }
            .woocommerce-checkout {
                .col2-set {
                    @extend .container-fluid;
                    margin: 0 -1em;
                    >div {
                        @include make-xs-col(12);
                        @include make-lg-col(6);
                        padding: 1em;
                    }
                }
                .select2-container {
                    .select2-selection {
                        border: 1px solid $black;
                        border-radius: 0;
                    }
                }
                #order_review_heading {
                    text-align: center;
                }
                .woocommerce-checkout-review-order {
                    border: 1px solid $gray;
                    background: rgba(255, 255, 255, 0.55);
                    @include media-breakpoint-up(lg) {
                        width: 50%;
                        margin: 0 auto;
                    }
                    table {
                        width: 100%;
                        thead,
                        tbody,
                        tfoot {
                            border-bottom: 1px solid $gray;
                        }
                        tr {
                            th,
                            td {
                                padding: 0.75em 0.5em;
                            }
                            th {
                                color: $gray;
                                text-transform: uppercase;
                            }
                            &.cart-subtotal,
                            &.order-total {
                                th,
                                td {
                                    text-align: right;
                                    border-top: 1px solid $gray;
                                    border-bottom: 1px solid $gray;
                                }
                            }
                            .product-total {
                                text-align: right;
                            }
                        }
                    }
                    input[type="submit"] {
                        margin-top: 1em;
                        @include primary-btn(1.5rem);
                    }
                }
            }
        }
    }
}

.blockUI {
    &.blockOverlay {
        background: transparent !important;
    }
}