@mixin cycleColor($attr: "color", $color: getRandomColor("rgb")) {
    #{$attr}: $color;   
    @include cycleHue(3s,
    infinite);
}

.cycle-bg {
    @include cycleColor("background-color", $red);
}

.cycle-color {
    @include cycleColor("color", $red);
}