/// Grid system
//
// Generate semantic grid columns with these mixins.
@mixin make-container() {
    display: flex;
    flex-wrap: wrap;
}

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    margin: 0 auto;
    @each $breakpoint,
    $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            width: $container-max-width;
            max-width: 100%;
        }
    }
}

@mixin make-col-ready($enable-gutter-x: false, $enable-gutter-y: false, $gutters: $grid-gutter-widths) {
    position: relative;
    min-height: 1px; 
    // Prevent collapsing
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we use `flex` values
    // later on to override this initial width.
    width: 100%;
    @if $enable-gutter-x or $enable-gutter-y  {
        @each $breakpoint in map-keys($gutters) {
            @include media-breakpoint-up($breakpoint) {
                $gutter: map-get($gutters, $breakpoint);
                @if $enable-gutter-x {
                    padding-right: ($gutter / 2);
                    padding-left: ($gutter / 2);
                }
                @if $enable-gutter-y {
                    padding-up: ($gutter / 2);
                    padding-down: ($gutter / 2);
                }
            }
        }
    }
}

@mixin make-col($size, $columns: 12) {
    flex: 0 0 percentage($size / $columns);
    // Add a `max-width` to ensure content within each column does not blow out
    // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
    // do not appear to require this.
    max-width: percentage($size / $columns);
  }

// Generate the extra small columns
@mixin make-xs-col($size) {
    @include make-col-ready();
    @include make-col($size);
}

// Generate the small columns
@mixin make-sm-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col($size);
    }
}

// Generate the medium columns
@mixin make-md-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
        @include make-col($size);
    }
}

// Generate the large columns
@mixin make-lg-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
        @include make-col($size);
    }
}

// Generate the extra large columns
@mixin make-xl-col($size) {
    @include make-col-ready();
    @include media-breakpoint-up(xl) {
        @include make-col($size);
    }
}

.container {
    @include make-container();
    @include make-container-max-widths();
}

.container-fluid {
    @include make-container();
}