@mixin wave($size: 100%, $color: $dark-gray) {
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    position: relative;
    opacity: 1;
    &:before,
    &:after {
        content: '';
        border: 1px $color solid;
        border-radius: 50%;
        width: $size;
        height: $size;
        position: absolute;
        left: 0px;
    }
    &:before {
        transform: scale(1, 1);
        animation: waveBefore 0.6s infinite linear;
        opacity: 1;
    }
    &:after {
        transform: scale(0, 0);
        animation: waveAfter 0.6s infinite linear;
        opacity: 0;
    }    
}

@keyframes waveAfter {
    from { transform: scale(0.5,0.5); opacity: 0; }
    to { transform: scale(1,1); opacity: 1; }
}

@keyframes waveBefore {
    from { -webkit-transform: scale(1,1); opacity: 1; }
    to { -webkit-transform: scale(1.5,1.5); opacity: 0; }
}

.wave {
    @include wave();
}