@mixin coverImg($width: 100%, $height: 100%, $scale: null) {
    width: $width;
    height: $height;
    object-fit: cover;
    object-position: 50% 50%;
    @if ($scale) {
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale($scale);
        }
    }
}

@mixin coverImage($width: 100%, $height: 100%, $scale: null) {
    width: $width;
    height: $height;
    object-fit: cover;
    object-position: 50% 50%;
    @if ($scale) {
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale($scale);
        }
    }
}

.compat-object-fit {
    background-size: cover;
    background-position: center center;
    img {
        opacity: 0;
        visibility: hidden;
    }
}
